.Main {
    display: flex;
    flex-wrap: wrap;
    max-width: 1600px; 
    padding: 1em;
    justify-content: center;
}

.Main .filter-wrapper {
    background-color: #595959;
    border: 1px solid #8C8C8C;
    font-family: monospace;
    border-radius: 2px;
    max-height: 400px;
    max-width: 400px;
    min-width: 250px;
    padding: 5px;
    margin: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Main .button-wrapper {
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Main button {
    background-color: #262626;
    border: none;
    color: #F2F2F2;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    width: 90%;
    border-radius: 2px;
    margin: 1em;
    font-family: sans-serif;
}

.Main Button:hover {
    background-color: #641919;
}

.Main button:focus {
    outline: 1px solid #641919;
    background-color: #262626;
    border-radius: 0;
}

.Main .selection-title {
    color: #F2F2F2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;

}

.Main .chart {
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: monospace;
    color: #F2F2F2;
}
