
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #404040;
  min-height: 900px;
  width: 100%;
}

.App .title {
  margin: 2em;
  color: #F2F2F2;
  font-family: monospace;
}

.App > p {
  color: #F2F2F2;
}
